---
layout: home
title: CPCCR Home
tag: home
---
<link rel="shortcut icon" type="image/jpg" href="/images/cpccr/CPCCR_org_logo.png"/>
<div class="layout">
  <aside class="events">
    <div class="feed" style="display: none;">

      <h2>Events</h2>

      {% assign eventsR = site.events %}
      <!-- {% assign total = 0 %} -->

      {% for event in site.events %}
      {% capture eventdate %}{{event.date | date: '%s'}} {% endcapture %}
      {% capture sitedate%} {{site.time | date: '%s' | minus:86400 | plus: 0 }}{% endcapture %}

      {% assign sitedateconverted = site.time | date: '%s' | minus:86400 | plus: 0 %}
      {% assign eventdateconverted = event.date | date: '%s' | plus: 0 %}

      {% if eventdateconverted >= sitedateconverted %}
      <!-- % if total < 2 % -->
      <!-- % assign total = total | plus: 1 % -->
      {% include events-list-item.html %}
      <!-- % endif % -->
      {% endif %}

      {% endfor %}
      <!-- Adding my own limit - do a count  -->


      <a class="view-all" href="/events/">View events</a>
    </div>

    <!--Start of EVENT ITEM-->
   
    
    <div class="Twitterf">
      <h2 STYLE="line-height: 1.2;">Twitter</h2>
      
       <a class="twitter-timeline" data-height="500" href="https://twitter.com/theNCI?ref_src=twsrc%5Etfw">Tweets by theNCI</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
       
       <a class="twitter-timeline" data-height="500" href="https://twitter.com/NIH?ref_src=twsrc%5Etfw">Tweets by NIH</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      
<!--      <a class="twitter-timeline" href="https://twitter.com/cpccr_cobre?ref_src=twsrc%5Etfw">Tweets by CPCCR COBRE</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
      <div>
        <!-- <a class="view-all" href="/events/">View all events</a> -->
  </aside>
  <section class="news" id="newsContainer">
    <!-- <h2>News</h2> -->

    {% for post in site.tags.featured %}
    {% include news-list-item-featured.html %}
    {% endfor %}

    {% for post in site.tags.news limit:4 %}
    {% include news-list-item.html %}
    {% endfor %}

    <!--End of NEWS ITEM-->
    <div class="view-all">
      <a class="view-all" href="/news/">News Archives</a>
    </div>
  </section>
</div>
