---
layout: default
title: Cores
tag: peoplepage
---



<aside id="lbrnEventSidebar">
  <button id="sideBug" class="btn" type="button" data-toggle="collapse" data-target="#lbrnEventSidebarUl" aria-expanded="false" aria-controls="collapseExample">
    <img src="{{site.baseurl}}/images/menuClosed.png" alt="Menu Bug">
  </button>
  <div id="lbrnEventSidebarUl">

    <div class="sidebar-holder">
      <div class="dot-text-holder">
        <li>Go To</li>
      </div>
    </div>
    <ul>

      <div class="sidebar-holder">
        <div class="dot-text-holder">
          <li class="active"><a href="#lbrnAdminCore">Admin Core</a></li>
        </div>
      </div>

      <div class="sidebar-holder">
        <div class="dot-text-holder">
          <li>
            <a href="#lbrnBbcCore">PCEC Core</a>
          </li>
        </div>
      </div>

      <div class="sidebar-holder">
        <div class="dot-text-holder">
          <li><a href="#lbrnMcbrCore">MBIP Core</a>
          </li>
        </div>
      </div>

      <div class="sidebar-holder">
        <div class="dot-text-holder">
          <li><a href="#currentlyFunded">Project Investigators</a>
          </li>
        </div>

      </div>

      <div class="sidebar-holder">
        <div class="dot-text-holder">
          <li><a href="#previouslyFunded">Pilot Investigators</a>
          </li>
        </div>

      </div>


      <div class="sidebar-holder">
        <div class="dot-text-holder">
          <li><a href="#LbrnEAC">EAC</a>
          </li>
        </div>
      </div>


    </ul>
  </div>
  <div class="">
    <li><a href="#">Top</a></li>
  </div>
</aside>

<div class="content-sidebar content ">

  <h2 id="peopleCore">LBRN Core Personnel</h2>




  <div class="people" id="matchHeight">
    <div class="relative">
      <h3 id="lbrnAdminCore" class="piac ptitle" aria-expanded="true">
        Admin Core
        <div class="caret dropdown-toggle"></div>
      </h3>
      <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin"></i> -->
      <section class="directory collapsenobs Adcore peoplewrap">


        {% for people in site.data.CPCCR-adminCore %}
        {% include directory-about.html %}
        {% endfor %}

      </section>
    </div>
    <div class="relative">
      <h3 id="lbrnBbcCore" class="pibc ptitle">
        PCEC Core
        <div class="caret dropdown-toggle">
      </h3>
      <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
      <section class="directory collapsenobs BBcore peoplewrap">
        <!-- site.data.LBRN-BBC-Core -->
        {% for people in site.data.CPCCR-PCEC-Core %}
        {% include directory-about.html %}
        {% endfor %}
      </section>
    </div>
    <div class="relative">
      <h3 id="lbrnMcbrCore" class="pimc ptitle">
        MBIP Core
        <div class="caret dropdown-toggle"></div>
      </h3>
      <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
      <section class="directory collapsenobs MCcore peoplewrap">
        {% for people in site.data.CPCCR-MBIP-Core %}
        {% include directory-about.html %}
        {% endfor %}
      </section>
    </div>
    <h2 class="pielement" id="peoplePI">Project Investigators</h2>
    <div class="relative">
      <h3 id="currentlyFunded" class="picrp ptitle">Currently Funded PIs
        <div class="caret dropdown-toggle"></div>
      </h3>
      <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
      <section class="directory collapsenobs CRP peoplewrap">
        {% for people in site.data.pis_full %}
        {% if people.active == true %}
        {% include directory-pi.html %}

        {% endif %}
        {% endfor %}


      </section>

    </div>
    <div class="relative" style="display: none;">
      <h3 id="previouslyFunded" class="pippi ptitle">Previously Funded PIs
        <div class="caret dropdown-toggle"></div>
      </h3>

      <section class="directory collapsenobs PrevPPi peoplewrap">

        {% for people in site.data.pis_full %}
        {% if people.active == false %}
        {% include n-directory-PrevPi.html %}
        {% endif %}
        {% endfor %}

      </section>
    </div>




    <h2 class="cmelement">Committee Members</h2>
    <div class="relative">
      <h3 id="LbrnEAC" class="pile ptitle">External Advisory Committee
        <div class="caret dropdown-toggle">
      </h3>
      <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
      <section class="directory collapsenobs LBRNe peoplewrap">
        <!-- site.data.LBRN-EAC -->

        {% for people in site.data.CPCCR-EAC %}
          {% if people.category != "Former EAC Members"%}
          {% include directory-core.html %}

          {% endif %}
        {% endfor %}
      </section>

    </div>
  </div>

</div>
