---
layout: default
title: Project Investigators
---


<aside id="lbrnEventSidebar">
  <button id="sideBug" class="btn" type="button" data-toggle="collapse" data-target="#lbrnEventSidebarUl" aria-expanded="false" aria-controls="collapseExample">
    <img src="{{site.baseurl}}/images/menuClosed.png" alt="Menu Bug">
  </button>
  <div id="lbrnEventSidebarUl">
    <ul>
        <li><a href="#pis">Project Investigators</a></li>
        <li><a href="#pilotis">Pilot Investigators</a></li>

    </ul>
  </div>
  <div class="">
    <li><a href="#">Top</a></li>
  </div>
</aside>


<div class="content-sidebar content ">


<section class="directory projectinvestigators" >
  {% assign count = 0 %}

  {% for people in site.data.pis_full %}
        {% if people.active %}
        {% assign count = count | plus: 1 %}
          {% assign modcount = count | modulo: 2 %}

            {% if modcount == 1  %}
                {% include pidirectory-currentPi.html %}
              {% else %}
                {% include pidirectory-currentPi.html %}
            {% endif %}
            {%endif%}
  {% endfor %}


</section>

</div>
<section class="directory">
