---
layout: default
title: Project Investigators
tag: pis
---

<!-- <aside id="pifilters">
  <ul>
    <div id="lbrnEventSidebarUl3">
      <p>
        <button class="btn mobilefilter dropdown-toggle" type="button" data-toggle="collapse" data-target="#filterex" aria-expanded="false" aria-controls="collapseExample">
          Filters
        </button>
      </p>
      <div class="collapse mobilefilter filters" id="filterex">
        <li class="on pifp">Full Project</li>
        <li class="on pipp">Pilot Project</li>
        <li class="on pitp">Translational Project</li>
        <li class="on pisp">Startup Project</li>
        <li class="on pisip">Shared Instrument Project</li>
        <li class="on piicp">INBRE COBRE Collaborative Project</li>
          <li class="on peoplesort pilsc" id="pilsc">LBRN Steering Committee</li>
      </div>
    </div>
  </ul>
</aside> -->

<!-- <aside id="lbrnEventSidebar">
      <button id="sideBug" class="btn" type="button" data-toggle="collapse" data-target="#lbrnEventSidebarUl" aria-expanded="false" aria-controls="collapseExample">
        <img src="{{site.baseurl}}/images/menuClosed.png" alt="Menu Bug">
      </button>
      <div id="lbrnEventSidebarUl">
        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li class="nolink">Filter</li>
          </div>
        </div>
        <ul class=" filters">
            <li class="on pifp">Full Project</li>
            <li class="on pisp">Startup Project</li>
            <li class="on pisip">Shared Instrument Project</li>
            <li class="on pipp">Pilot Project</li>
            <li class="on pitp">Translational Project</li>
            <li class="on piicp">INBRE COBRE Collaborative Project</li>
            <li class="on pispp">Supplemental Project</li>

        </ul>
    </div>
  <div class="">
    <li><a href="#">Top</a></li>
  </div>
</aside> -->

<aside id="lbrnEventSidebar">
  <button id="sideBug" class="btn" type="button" data-toggle="collapse" data-target="#lbrnEventSidebarUl" aria-expanded="false" aria-controls="collapseExample">
    <img src="{{site.baseurl}}/images/menuClosed.png" alt="Menu Bug">
  </button>
  <div id="lbrnEventSidebarUl">
    <ul>
        <li><a href="#pis">Project Investigators</a></li>
        <li><a href="#pilotis">Pilot Investigators</a></li>

    </ul>
  </div>
  <div class="">
    <li><a href="#">Top</a></li>
  </div>
</aside>
<div class="content-sidebar content ">

<h3 id="pis">Project Investigators</h3>
<section class="directory projectinvestigators" >
  {% for people in site.data.pis_full %}
    {% if people.funding[0].name contains "Project" %}

      {% include directory-pi.html %}

    {%endif%}
  {% endfor %}


</section>
<h3 id="pilotis" >Pilot Investigators</h3>
<section class="directory projectinvestigators" >

  {% for people in site.data.pis_full %}
    {% if people.funding[0].name contains "Pilot" %}

      {% include directory-pi.html %}

    {%endif%}
  {% endfor %}


</section>
</div>
<section class="directory">
