<header class="{{page.tag}}">
  <div class="layout">
    <a href="/index.html"><img src="/images/cpccr/CPCCR_logo.svg" alt="CPCCR Logo"></a>
    <h1>CPCCR</h1>
    <button id="navBug" class="btn" type="button" data-toggle="collapse" data-target=".navdropdownbig" aria-expanded="false" aria-controls="collapseExample">
      <img src="/images/menuClosed.png" alt="Menu Bug">
    </button>
  </div>
</header>
<!-- NOW WITH DROPDOWNS! -->

<div class="navdropdownbig navdropdown">
  <ul class="layout">
    <li><a href="/about.html">About</a>
    </li>
    <li><a href="/project-investigators.html">Research Projects</a>
      <ul>
        <li><a href="/project-investigators.html#">Project Investigators</a></li>
        <li><a href="/project-investigators.html#"> Pilot Investigators</a></li>
      </ul>
    </li>
    <li><p>Cores</p>
      <ul>
        <li><a href="/core-mbip.html">MBIP Core</a></li>
        <li><a href="/core-pcec.html">PCEC Core</a></li>
      </ul>
    </li>

    <li><a href="/people.html">People</a>
      <ul>
        <li><a href="/people.html#">Admin Core</a></li>
        <li><a href="/people.html#">EAC</a></li>
        <li><a href="/people.html#">MBIP Core</a></li>
        <li><a href="/people.html#">PCEC Core</a></li>
      </ul>
    </li>
    <li class="right">
      <a class="button" href="/news/">News</a>

    </li>

  </ul>
</div>
