<header class="{{page.tag}}">
  <div class="layout">
    <a href="/index.html"><img src="/images/cpccr/CPCCR_logo.png" alt="CPCCR Logo"></a>
    <!-- <h1>CPCCR</h1> -->
    <button id="navBug" class="btn" type="button" data-toggle="collapse" data-target=".navdropdownbig" aria-expanded="false" aria-controls="collapseExample">
      <img src="/images/menuClosed.png" alt="Menu Bug">
    </button>
  </div>
</header>
<!-- NOW WITH DROPDOWNS! -->

<div class="navdropdownbig navdropdown">
  <ul class="layout">
    <li><a href="/about.html">About</a>
      <ul>
        <li><a href="/about.html#pidir">PI and Center Director</a></li>
        <li><a href="/about.html#asdir">Associate Director and Co-I</a></li>
        <li><a href="/about.html#pdir">Program Coordinator</a></li>
      </ul>
    </li>
    <li><a href="/project-investigators.html">Research Projects</a>
      <ul>
        <li><a href="/project-investigators.html#">Project Investigators</a></li>
        <li><a href="/project-investigators.html#"> Pilot Investigators</a></li>
      </ul>
    </li>
    <li><p>Cores</p>
      <ul>
        <li><a href="/core-mbip.html">MBIPC Core</a></li>
        <li><a href="/core-pcec.html">PCEC Core</a></li>
      </ul>
    </li>

    <li><a href="/people.html">People</a>
      <ul>
        <li><a href="/people.html#admincore">Admin Core</a></li>
        <li><a href="/people.html#mbipcore">MBIP Core</a></li>
        <li><a href="/people.html#pceccore">PCEC Core</a></li>
        <li><a href="/people.html#projectinvest">Project Investigators</a></li>
        <li><a href="/people.html#pilotinvest">Pilot Investigators</a></li>
        <li><a href="/people.html#eac">EAC</a></li>
      </ul>
    </li>
    <li>
      <p>Resources</p>
      <!-- <a href="/resources.html">Resources</a> -->
      <ul>
        <li><a href="/nih-acknowledgement.html">NIH Acknowledgement</a></li>
        <li><a href="/nih-links.html">NIH Links</a></li>
        <!-- <li><a href="/media-templates.html">Media Templates</a></li> -->
        <!-- <li><a href="/poster-boards.html">Poster Boards</a></li> -->
        <li><a href="/redcap.html">REDcap</a></li>
        <!-- <li><a href="/video-repository.html">Video Repo</a></li> -->
      </ul>
    </li>
    <li class="right">
      <a class="button" href="/news/">News</a>

    </li>

  </ul>
</div>
