  <footer class="links">

  </footer>
    <footer><div class="layout">
      <h3>
        Center for Pre-clinical Cancer Research
      </h3>
      <div class="quicklinks">
        <ul>
          <div class="title">About</div>
          <li><a href="/about.html#pidir">PI and Center Director</a></li>
          <li><a href="/about.html#asdir">Associate Director and Co-I</a></li>
          <li><a href="/about.html#pdir">Program Coordinator</a></li>
        </ul>
        <ul>
          <div class="title">
            Research Projects
          </div>
          <li><a href="/project-investigators.html#pis">Project Investigators</a></li>
          <li><a href="/project-investigators.html#pilotis">Pilot Investigators</a></li>
        </ul>
        <ul>
          <div class="title">Cores</div>
          <li><a href="/core-mbip.html">MBIP Core</a></li>
          <li><a href="/core-pcec.html">PCE Core</a></li>
        </ul>
        <ul>
          <div class="title">People</div>
          <li><a href="/people.html#admincore">Admin Core</a></li>
          <li><a href="/people.html#pceccore">PCEC Core</a></li>
          <li><a href="/people.html#mbipcore">MBIP Core</a></li>
          <li><a href="/people.html#projectinvest">Project Investigators</a></li>
          <li><a href="/people.html#pilotinvest">Pilot Investigators</a></li>
          <li><a href="/people.html#eac">EAC</a></li>
        </ul>
        <ul>
          <div class="title">Resources</div>
          <li><a href="/nih-acknowledgement.html">NIH Acknowledgement</a></li>
          <li><a href="/nih-links.html">NIH Links</a></li>
          <li><a href="/redcap.html">REDcap</a></li>
        </ul>
      </div>
    </div>
      <div class="layout">

        <p>
          copyright &copy; CPCCR {{ 'now' | date: "%Y" }}<br>
          <a href="https://www.lsu.edu/feedback" class="bold">Provide Website Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.lsu.edu/accessibility" class="bold">Accessibility Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.lsu.edu/privacy/index.php">Privacy Statement</a></p>
        <p>Support from the <a target="_blank" href="https://nih.gov/">National Institute of Health</a> through the <a target="_blank" href="https://nigms.nih.gov/">National institute of General Medical Science</a> Grant
          <a target="_blank" href="https://reporter.nih.gov/search/DsI8c5mHOUC5iFur186XgQ/project-details/10360592">
          <span>{% include footergrantversion.html %}</span></a> is gratefully acknowledged.</p>

      </div>
    </footer>
