<header class="{{page.tag}}">
  <div class="layout">
    <a href="/index.html"><img src="/images/webLogo.svg" alt="CPCCR Logo"></a>
    <h1>CPCCR</h1>
    <button id="navBug" class="btn" type="button" data-toggle="collapse" data-target=".navdropdownbig" aria-expanded="false" aria-controls="collapseExample">
      <img src="/images/menuClosed.png" alt="Menu Bug">
    </button>
  </div>
</header>
<!-- NOW WITH DROPDOWNS! -->

<div class="navdropdownbig navdropdown">
  <ul class="layout">
    
  </ul>
</div>
